<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sales Forecast</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Sales Forecast</h1>
    <div id="forecast-chart" style="width: 100%; height: 500px;"></div>

    <script>
        const dates = {{ dates | tojson }};
        const predictions = {{ predictions | tojson }};

        const trace = {
            x: dates,
            y: predictions,
            mode: 'lines+markers',
            name: 'Forecast',
            line: {color: 'blue'}
        };

        const data = [trace];

        const layout = {
            title: 'Sales Forecast Over Time',
            xaxis: {title: 'Date'},
            yaxis: {title: 'Predicted Sales Amount'}
        };

        Plotly.newPlot('forecast-chart', data, layout);
    </script>
</body>
</html>
